body {
    font-family: Arial, Helvetica, sans-serif
}

#title-home {
    color: rgb(126, 0, 0);
    background-color: rgb(249, 243, 205);
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding: 24px;
    border: 8px;
    border-style: ridge;
    margin: 8px auto 32px auto;
}

.title,
.header {
    color: rgb(78, 1, 114);
}

.title {
    font-size: 32px;
    font-weight: 800;
}

.header {
    font-style: italic;
}

.ul-home {
    padding: 16px auto;
    border: 4px;
    border-style: dotted;
    margin: auto 40px;
    padding: 20px;
}

.ul-home > li {
    font-size: 24px;
    margin-left: 24px;
    padding: 16px auto;
    list-style-type: circle;
}